@model  LibrarySystemProject.Views.Login.LoginViewModel

@{
   
    ViewBag.Title = "Login";
     Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="row">
    <div class="col-md-8"  style="background-color:#333;  width:400px; height: 350px; border-radius:25px; margin-top:10%; margin-bottom:10%;">
        <div class="col-md-10" style="background-color:white;  width:95%; height:250px; border-radius:25px; position:relative; left:11px; top:15%; padding-top:10px;">
            <form action="/Home/Login" method="post">
                <div class="form-group">
                   @Html.LabelFor(model => model.Username, "Username", new { @class = "control-label col-md-6", @style = "color: #333; font-size:15px; margin-left: 35%; padding-top:15px;" })


                   @Html.TextBoxFor(model => model.Username, new { @class = "form-control col-md-offset-1" }) 
                    <div style="margin:10px; margin-left:23%; margin-top:1em; font-size:11px;">
                   @Html.ValidationMessageFor(model => model.Username)
                   </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, "Password", new { @class = "control-label col-md-5", @style = "color: #333; font-size:15px; margin-left: 35%; margin-top:10px;" })


                    @Html.PasswordFor(model => model.Password, new { @class = "form-control col-md-offset-1" })

                    <div style=" margin-top:10px; margin-left:23%; font-size:11px;">
                    @Html.ValidationMessageFor(model => model.Password)
                    @Html.ValidationMessage("failedLogin")
                    </div>
               </div>

                <div class="col-md-offset-2 col-md-10" style="margin-top:5%; margin-left:35%;">
                    <input type="submit" value="Login"  class="btn-success" style="border-radius:15px; background-color:#333; border-color:#333; color:white; height:2.5em; width:5em;" />

                </div>
                <br />
            </form>
        </div>
    </div>

    <div class="col-md-4" style="font-size:1.4em; margin-right: 10%; margin-top:17%; float:right;">
        <strong><i><p> 'A reader lives a thousand lives before he dies, said Jojen. The man who never reads lives only one.'</p></i>
        <br /><p>- George R.R. Martin</p></strong>
       <!-- <img src="https://s-media-cache-ak0.pinimg.com/236x/c6/7d/bb/c67dbbf2d48647e91a49f69b7a9c7bac.jpg" style="width:100%"/>-->
    </div>
   </div>
</body>
</html>
