@model LibrarySystemProject.Models.UserViewModel.UserDeleteViewModel

@{
    ViewBag.Title = "Delete";
}

<h2 style="text-align:center; margin-top:30px; color:#333;  margin-bottom: 20px; font-size:35px;">Delete</h2>

<h4 style="text-align:center;">Are you sure you want to delete this?</h4>
<hr />
<div class="col-md-offset-4">
    @*<h4>UserDeleteViewModel</h4>*@
    
    <dl class="dl-horizontal">
        <dt style="color: #333; font-size:20px;">
            @Html.DisplayName("Username name")
        </dt>

        <dd style="font-size:20px;">
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt style="color: #333; font-size:20px;">
            @Html.DisplayName("Password pass")
        </dt>

        <dd style="font-size:20px;">
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt style="color: #333; font-size:20px;">
            @Html.DisplayName("First Name")
        </dt>

        <dd style="font-size:20px;">
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt style="color: #333; font-size:20px;">
            @Html.DisplayName("Last Name")
        </dt>

        <dd style="font-size:20px;">
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt style="color: #333; font-size:20px;">
            @Html.DisplayName("Is Admin")
        </dt>

        <dd style="font-size:20px;">
            @Html.DisplayFor(model => model.isAdmin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="col-md-offset-2 col-md-10" style="margin-bottom:30px;">
            <input type="submit" value="Delete" class="btn-success" style="border-radius:15px; background-color:#333; border-color:#333; height:2.5em; width:5em;" />

            <button class="btn-default" style="border-radius:15px; height:2.5em; width:5em;">
                @Html.ActionLink("Cancel", "Index")
            </button>
        </div>
    }
</div>
