@model LibrarySystemProject.Models.UserViewModel.UserListViewModel
@{
    ViewBag.Title = "Index";
}

<h1 style="text-align:center; margin-top:25px; color:#333;">Users</h1>

<button class="btn-success" style="border-radius:25px; background-color:#333; border-color:#333; height:3em; width:7em; margin-bottom:20px; ">
    @Html.ActionLink("Create new", "Create", "Users", new { @style = "color:white; text-decoration:none; font-weight:bold;" })
</button>

<table class="table">
    <thead>
        <tr class="btn-success" style="background-color:#333; border-color:#333;">
            <th style="text-align:center;">Username</th>
            <th style="text-align:center;">Password</th>
            <th style="text-align:center;">First Name</th>
            <th style="text-align:center;">Last Name</th>
            <th style="text-align:center;">Is Admin</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr class="bg-info text-white" style="text-align:center;">
                <td>@user.username</td>
                <td>@user.password</td>
                <td>@user.firstName</td>
                <td>@user.lastName</td>
                <td>@user.isAdmin</td>
                <td>
                   <button class="btn-default" style="border-radius:15px; height:2.5em; width:5em;">
                    @Html.ActionLink("Edit", "Edit", "Users", new { id = user.Id }, null)
                    </button>
                   <button class="btn-default" style="border-radius:15px; height:2.5em; width:5em;">
                    @Html.ActionLink("Delete", "Delete", "Users", new { id = user.Id }, null)
                   </button>
                </td>
            </tr>
        }
    </tbody>
</table>
