@model LibrarySystemProject.Models.BookViewModel.BookCreateViewModel
@{
    ViewBag.Title = "Create";

}

<h2 style="text-align:center; margin-top:30px; color:#333; margin-bottom: 50px; font-size:35px;">Create</h2>

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.numberISBN, "Number ISBN" , new { @class = "control-label col-md-5", @style = "color: #333; font-size:22px;" })
          
            @Html.TextBoxFor(model => model.numberISBN, new { @class = "form-control col-md-offset-5" })
            @Html.ValidationMessageFor(model => model.numberISBN)
            
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.title, "Title", new { @class = "control-label col-md-5", @style = "color: #333; font-size:22px;" })
           
            @Html.TextBoxFor(model => model.title, new { @class = "form-control col-md-offset-5" })
            @Html.ValidationMessageFor(model => model.title)
          
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.author, "Author", new { @class = "control-label col-md-5", @style = "color: #333; font-size:22px;" })
                
            @Html.TextBoxFor(model => model.author, new { @class = "form-control col-md-offset-5" })
            @Html.ValidationMessageFor(model => model.author)
         
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.publishingHouse, "Publishing House", new { @class = "control-label col-md-5", @style = "color: #333; font-size:22px;" })
                
            @Html.TextAreaFor(model => model.publishingHouse, new { @class = "form-control col-md-offset-5" })
            @Html.ValidationMessageFor(model => model.publishingHouse)

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.releaseDate, "Release Date" , htmlAttributes: new { @class = "control-label col-md-5", @style = "color: #333; font-size:22px;" })
               
            @Html.EditorFor(model => model.releaseDate, new { htmlAttributes = new { @class = "form-control col-md-offset-5" } })
            @Html.ValidationMessageFor(model => model.releaseDate, "", new { @class = "text-danger" })
          
            @*<div class="col-md-10">
            @Html.EditorFor(model => model.releaseDate, new { htmlAttributes = new { @class = "datepicker" } })
        </div>*@
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.availability, "Availability", new { @class = "control-label col-md-5", @style = "color: #333; font-size:22px;" })

            @Html.TextBoxFor(model => model.availability, new { @class = "form-control col-md-offset-5" })
            @Html.ValidationMessageFor(model => model.availability)
            
        </div>
        <div class="form-group" style="margin-top:15px;">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="Save" class="btn-success" style="border-radius:15px; background-color:#333; border-color:#333; height:2.5em; width:5em;"/>
                
                <button class="btn-default" style="border-radius:15px; height:2.5em; width:5em;">
                    @Html.ActionLink("Cancel", "Index", "Books")
                </button>
            </div>
        </div>
    </div>
}


@*<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


    <script>

        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "yy/mm/dd",
                changeMonth: true,
                changeYear: true,
                //yearRange : "-10:+10"
                minDate: new Date(2017, 0, 1),
                maxDate: new Date(2018, 0, 1),
                showOn: "both",
                buttonText: "<i class='fa fa-calendar'></i>"

                //onSelect: function (dateText, inst) {
                //    var date = $(this).val();
                //    alert(date);
                //    console.log(date);
                //}
            });
    </script>

}*@
